body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  
}

.header{

}

.header__top{
background-color: #fff;
}
.header__top-inner{
padding-bottom: 29px;
display: flex;
justify-content: space-between;
align-items: flex-end;
}
.menu__list{
display: flex;
list-style: none;
}

.menu__list-item + .menu__list-item{
    margin-left: 35px;

}

.menu__list-link{
    padding: 0 9px 9px;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.6px;
    color: #373A39;
    text-decoration: none;
    transition: all 0.5s;
}

.menu__list-link:hover{
    border-bottom: 2px solid rgba(252, 187, 8, 1);
}

.header__content{
background-image: url("../img/header-bg.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
padding-bottom: 62px;
/* padding buttom is for mouse icon  */
}

.header__content-inner{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}

.header__title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 88px;
    color: #FFFFFF;
    margin-top: 340;
    margin-bottom: 19px;
    
}

.header__subtitle{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.74286px; 
    color: #FCBB08;
    margin-bottom: 180px;
}

.about{
    background-color: #F6F8FA;
    padding: 143px 0 159px;

}

.about__inner{
display: flex;
justify-content: space-between;
}
.title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 75px;
    color: #242121;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.title::after{
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background: #FCBB08;
}

/* .about__title{ */
    /* font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 75px; */
    /* letter-spacing: -1.65px; */
    /* color: #242121;
    margin: 0;
} */


.about__text p{
width: 770px;
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 24px;
color: #373A39;

}

.about__text-first{
margin-bottom: 22px;
}

/* about and home side is done  */

.expertise{
padding: 140px 0 160px;
}

.expertise__title{
margin-bottom: 90px;
}

.expertise__inner{
display: flex;
margin-bottom: 110px;

}

.expertise__info{
width: 370px;
margin-right: 30px;
}

.expertise__info-item{
border-top: 2px solid #1D1D1D;
padding: 2px 0 28px;
text-transform: uppercase;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 20px;
letter-spacing: 1px;
color: #1D1D1D;
position: relative;
}

.expertise__info-item span{
display: block;
position: absolute;
right: 0;
top: 0;
margin-right: 7px;
}

.expertise__info-item span::before{
    content: "";
    position: absolute;
    height: 2px ;
    background-color: #F0F0F0;
    width: 100%;
    right: -7px;
    top: -2px;
}



.expertise__items{
display: flex;
justify-content: space-between;
}

.expertise__item{
    width: 370px;
    padding-left: 85px;
    position: relative;
}

.expertise__item::before{
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 50px;
    height: 50px;
}

.expertise__item--design::before{
    background-image: url(../img/design.icon.svg);
}

.expertise__item--dev::before{
    background-image: url(../img/dev.icon.svg);
}

.expertise__item--marketing::before{
    background-image: url(../img//marketing.icon.svg);
}




.expertise__item-title{ 
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
letter-spacing: 4.29px;
color: #333333;

}

.expertise__item-text{
    font-family: 'SF Pro Display';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 24px;
color: #777777;
}

.expertise__text p{

}

.expertise__text-first{

}

.expertise__text-second{
    
}